<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io.connect('http://localhost:3000');
	  socket.on('news', function (data) {
	    console.log("This is the data sent to the client: " + data.hello);	    
	    socket.emit('my other event', { my: 'Hey hey hey! I sent some data to the server!' });
	  })
	  socket.on('secondEvent', function(data) {
	     console.log(data.msg);
	  });
	</script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
